<div id="page_wrapper">

 <p>
  <div id="my_photo">
<%= image_tag "koren3.jpg" %> 

</div>
<h2>Hello guys, this is the koren page!!! </h2>
&nbsp &nbsp I have to write smth to full the emptyness of existence. 
So as it's nothing to write about, i quote some of the famous people. <br><br>
&nbsp &nbsp «The most important kind of freedom is to be what you really are. You trade in your reality for a role. You trade in your sense for an act. You give up your ability to feel, and in exchange, put on a mask. There can’t be any large-scale revolution until there’s a personal revolution, on an individual level. It’s got to happen inside first». (Jim Morrison) <br><br>
&nbsp &nbsp «When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down ‘happy’. They told me I didn’t understand the assignment, and I told them they didn’t understand life». (John Lennon) <br><br>

Have a good day!!
</p>
</div>