

<% @posts.each do |post| %>
<div class="post_wrapper">
	<h2><%= link_to post.title, post %></h2>
	<p><%= post.body %></p>
	<p class="date">Submitted <%= time_ago_in_words(post.created_at) %> ago</p> 
  </div>
	<% end %>
	